
.Loading {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: rgb(255, 253, 247);
  /* padding: 20px; */
}

body {
  overflow-x: hidden; 
}


.growHeight {
  height: 100%;
  align-items: center;
}

/* Navbar */
.navbar {

  display: flex;
  flex-direction: row;
  height: 12%;
  background-color: rgb(32, 30, 30);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

   a {
    padding: 16px;
    color: white;
  }

  a:hover {
    color: goldenrod;
  }
}

/* Clients Page */

.clientsPage {
  margin-top: 100px;
  // border-top: 1px solid black;
}

.siteLink {
  color: rgb(102, 54, 54);
  font-style: italic;
}

.clientProjectDescription {
  margin: 50px auto;
  text-align: center;
  width: 90%;
  
}

.clientHomePage {
  width: 80%;
  margin: 50px auto;
  border: 1px solid black;
  
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  div {
    width: 40%;
    margin: 2% 5%;
  }

  .featureMain {
    font-weight: 900;
  }
}

.clientImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  img {
    width: 40%;
    margin: 2%;
    border: 1px solid black;
  }
}


/* Name & Picture page */

.namePage {
  height: 95vh;
  width: 100%;
  background-image: url('https://res.cloudinary.com/enemigos/image/upload/v1596460824/Home/wood-background_iwj6ut.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;

}

.nameBox {
  padding: 20px;
  text-align: right;
  margin-right: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  
}

.name {
  font-size: 3em;
  color: aliceblue;
  font-weight: 700;
}

.devPosition {
  font-size: 1.5em;
  font-style: italic;
  color: aliceblue;

}

.profileImageContainer {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 100px;
}

.profileImage {
  border-radius: 10px;
  border: 1px solid black;
}

/* About and experience page */

.aboutPage {
  margin-left: 12%;
}

.about p {
  padding: 5px;
}

span {
  font-size: 0.7em;
  font-weight: 200;
  font-style: italic;
}

.jobDescriptionDiv {
  margin-top: 10px;
  min-height: 180px;
}

.dates {
  font-size: small;
  font-style: italic;
}

.company {
  font-size: 1.5em;
}

.position {
  font-weight: 700;
}

.experienceMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.experienceLogosDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  /* border-right: 2px solid red; */
}

.logoDiv {
  position: relative;
}


.straightRBorder {
  border-bottom: 1px solid grey;
}

.arrowLBorder {
  height: 10px;
  width: 10px;
  background-color: rgb(255, 253, 247); /* MAKE THIS THE SAME AS THE BACKGROUND COLOR */
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  right: 50%;
  bottom: -6px;
  transform: rotate(-45deg)
}

.logoContainer {
  width: 75px;
  height: 50px;
  margin: 25px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}



/* PROJECT INFORMATION */

.pageControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.pageNum {
  margin: 0 10px;
  padding: 15px;
}

.pageNum a {
  color: black;
}

.vCenterImage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.projectInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgb(230, 232, 233);
  overflow: auto;
  max-height: 500px;
  /* height: 500px; */
  
}

.projectInfo .heading {
  font-size: 15px;
  font-weight: 700;
  color: goldenrod;

}

.projectInfo h2 {
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 900;
}

.projectInfo p {
  font-size: 14px;
  margin-bottom: 12px;
}

.projectLinks {
  display: flex;
  justify-content: center;
}

.projectLinks > a {
  margin: 10px;
  color: black;
}

.projectLinks > a:hover {
  color: goldenrod;
}

.tile {
  padding: 0;
}


.black {
  background-color: black;
}

.bookClubBlue {
  background-color: lightblue;
}


/* Skills and Contact Section */

.contact {
  display: flex;
  flex-direction: column;
}

.contactIcon {
  position: relative;
  margin: 30px auto;
  text-decoration: none;
  color: black;
}


.contactText {
  visibility: hidden;
}

.contactIcon :first-child:hover {
  color: green;
}

.contactIcon :first-child:hover ~ .contactText {
  visibility: visible;
}



.sIcon {
 font-size: 4rem;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 50px;
  /* border-bottom: 1px solid black; */
}

.icon {
  height:75px;
  width: 75px;
  margin: 10px 20px;
  position: relative;
}

.icon p {
  position: absolute;
  opacity: 0;

}

.icon:hover {
  animation: color 0.5s forwards;
  /* color: rgb(255, 134, 255); */
}

.icon:not(:hover) {
  animation: colorout 0.5s forwards;
}

@keyframes color {
  0% {
    color: black; left: 0; top: 0;
  }

  100% {
    color: gold;
  }
}

@keyframes colorout {
  0% {
    color: gold;
  }

  100% {
    color: black;
  }
}

.icon :first-child:hover ~ .description {
  /* display: inline */
  animation: describe 0.5s forwards;
}

.icon :first-child:not(:hover) ~ .description {
  /* display: inline */
  animation: describeout 0.5s forwards;
}

@keyframes describe {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(170%);
  }
}

@keyframes describeout {
  0% {
    opacity: 1;
    transform: translateY(170%);
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
  }
}

.description {
  pointer-events: none;
  color: black;
  font-weight: 900;
}

.contactPage, .projectsPage {
  margin-top: 50px;
}

.underline {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  margin: 30px 0;
}

footer a {
  margin: 10px 30px;
  color: white;
}

footer a:hover {
  color: goldenrod;
}

.pad {
  padding: 0 50px;
}

.hidden *, .hidden .is-parent, .hidden {
  display: none;
}

.mobileNone {
  display: inline;
}

.mobileShow {
  display: none;
}

@media screen and (max-width: 815px) {

  .mobileNone {
    display: none;
  }

  .mobileShow {
    display: inline;
  }

  .nameBox {
    align-items: flex-start;
  }

  .aboutPage {
    margin-left: 0;
  }

  .logoContainer {
    width: 30px; 
  }

  .navbar {
    flex-direction: column;

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .navbar > * {
    padding: 4px 8px;
  }

  .pad {
    padding: 0 25px;
  }

  .clientImages img, .clientHomePage, .clientProjectDescription {
    width: 90%;
  }

  .features div {
    width: 90%;
    margin-top: 20px;
  }

}
